@media (max-width: 1100px) {
    .welcome_desc {
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .order .container {
        flex-direction: column;
        padding-right: 15px;
    }

    .order_text {
        text-align: center;
    }

    .order .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {

    .welcome {
        position: relative;
    }

    .welcome .container {
        position: relative;
        z-index: 10;
    }

    .welcome::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .food-list .container {
        justify-content: space-evenly;
    }

    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav" "contacts socials";
        justify-items: center;
        gap: 40px 150px;
    }

    .footer_contacts {
        grid-area: contacts;
        justify-self: end;
    }

    .footer_nav {
        grid-area: nav;
    }

    .footer_list {
        gap: 80px;
    }

    .footer_socials {
        grid-area: socials;
        align-self: center;
        justify-self: start;
    }

    .feedback {
        padding-bottom: 100px;
    }

    .footer {
        padding: 60px 0;
    }
}


@media (max-width: 800px) {
    .header .btn {
        display: none;
    }
}



@media (max-width: 650px) {
    .container {
        max-width: 95%;
    }

    .feedback_img {
        width: 200px;
    }

    .download_title {
        font-size: 24px;
    }

    .welcome {
        padding: 150px 0 100px;
        min-height: auto;
    }

    .welcome_text {
        width: 100%;
    }

    .welcome_title {
        font-size: 40px;
    }

    .welcome_desc {
        margin: 20px 0;
    }

    .product {
        padding: 60px 0;
    }

    .product_card {
        width: 100%;
        padding-left: 50%;
    }

    .product_card:nth-child(even) {
        padding-right: 50%;
    }

    /* .header .container {
        flex-direction: column;
        gap: 10px;
    }

    .header_list {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .welcome {
        margin-top: -240px;
    } */
}


@media (max-width: 500px) {
    .header .container {
        flex-direction: column;
        gap: 10px;
    }

    .header_list {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .welcome {
        margin-top: -240px;
        padding-top: 280px;
        padding-bottom: 80px;
    }

    .welcome_title {
        font-size: 30px;
    }

    .welcome_desc {
        font-size: 12px;
    }

    .food-list {
        padding: 60px 0;
    }

    .order_title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .order_img {
        width: 100%;
    }

    .feedback .container {
        flex-direction: column;
    }

    .feedback, .product {
        padding-bottom: 60px;
    }

    .download .container {
        flex-direction: column;
        gap: 20px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }

    .footer_contacts {
        align-items: center;
    }

    .footer_socials-icons {
        display: flex;
        justify-content: center;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer .footer_title {
        margin-bottom: 10px;
    }

    .footer_list-item + .footer_list-item {
        margin-top: 7px;
    }

    .footer_logo {
        margin-bottom: 7px;
    }

    .feedback_author {
        font-size: 18px;
    }

    .feedback_desc {
        margin: 20px 0;
        font-size: 14px;
    }

    .product_card {
        padding-left: 30px;
    }

    .product_card:nth-child(even) {
        padding-right: 30px;
    }

    .product_desc {
        opacity: 1;
    }

    .product_card {
        position: relative;
        text-align: center;
    }

    .product .btn {
        margin-left: auto;
        margin-right: auto;
    }

    .product_card > * {
        position: relative;
        z-index: 10;
    }

    .product_card::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .welcome {
        position: relative;
    }

    .welcome .container {
        position: relative;
        z-index: 10;
    }

    .welcome::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}