@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* Общие стили */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    box-sizing: border-box;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background: #f6762c;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn--small {
    opacity: 0.8;
    width: 140px;
    height: 40px;
    font-size: 12px;
}

.btn:hover {
    opacity: 0.8;
}

/* ШАПКА */

.header {
    padding: 25px 0;
    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.header_list {
    display: flex;
    gap: 30px;
}

.header_nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header_nav a:hover {
    opacity: 0.9;
}

.header_nav a.active {
    opacity: 1;
}


/* Приветственная секция */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: -100px;
    padding: 170px 0;
    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome_text {
    width: 550px;
}

.welcome_subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1rem;
}

.welcome_title {
    font-size: 58px;
}

.welcome_desc {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

/* Список еды */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list_card {
    width: 260px;
    text-align: center;
    overflow: hidden;
    background: #312f30;
    border-radius: 10px;
}

.food-list_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list_text-wrapper {
    padding: 30px 20px;
}

.food-list_title {
    font-size: 20px;
    margin-bottom: 13px;
}

.food-list_desc {
    font-size: 16px;
    opacity: 0.7;
}


/* Order */

.order {
    background: #312f30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
}

.order_img {
    max-width: 470px;
}

.order_text {
    max-width: 360px;
}

.order_title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order_desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order_price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1rem;
    color: #f6762c;
}

.order_price-old {
    font-size: 16px;
    text-decoration-line: line-through;
    opacity: 0.5;
}

.order_price + .order_price {
    margin-left: 3px;
}

.order .btn {
    margin-top: 10px;
}


/* Product */

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product_card {
    box-sizing: border-box;
    width: 555px;
    min-height: 300px;
    padding: 60px 30px 60px 290px;
    background-color: #4b3a3a;
    background-size: cover;
    background-repeat: no-repeat;
}

.product_card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product_desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product_price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product_price + .product_price {
    margin-left: 5px;
}

.product_price-old {
    text-decoration-line: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
    transition: opacity 0.3s;
}

.product .btn:hover {
    opacity: 0.6;
}

.card-queen {
    background: url("./images/product-1.jpg");
}

.card-hut {
    background: url("./images/product-2.jpg");
}

.card-king {
    background: url("./images/product-3.jpg");
}

.card-papa {
    background: url("./images/product-4.jpg");
}


/* Feedback */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feedback_text {
    margin: 0;
    text-align: center;
    max-width: 370px;
    /* display: flex;
    flex-direction: column; */
}

.feedback_text::before {
    content: url("./images/icons/quote.svg");
}

.feedback_desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback_author {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.feedback_subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
    display: block;
}


/* DOWNLOAD */

.download {
    background: #312f30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.download_title {
    font-weight: 500;
    font-size: 40px;
}


/* FOOTER */

.footer {
    padding: 120px 0;
}

.footer a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer_title {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer_link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_link +.footer_link {
    margin-top: 10px;
}

.footer_link::before {
    width: 12px;
    height: 12px;
}

.footer_link-mail::before {
    content: url("./images/icons/mail.svg");
}

.footer_link-web::before {
    content: url("./images/icons/global.svg");
}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_list-item + .footer_list-item {
    margin-top: 15px;
}

.footer_socials-link + .footer_socials-link {
    margin-left: 7px;
}